@import "tailwindcss";


@font-face {
  font-family: 'Instrument Serif Regular';
  src: url('/fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Serif Italic';
  src: url('/fonts/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


.font-instrument-regular {
  font-family: 'Instrument Serif Regular', serif !important;
}

.font-instrument-italic {
  font-family: 'Instrument Serif Italic', serif !important;
}


@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
  body {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  body::-webkit-scrollbar {
    display: none; 
  }
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}